$paletteMain: #343838
$paletteAccent1: #005F6B
$paletteAccent2: #008C9E
$paletteAccent3: #00B4CC
$paletteAccent4: #00DFFC

$colorMain: #fff
$colorMainAccent: #679bc4
$colorHeadingSubtle: grey

$colorTextDefault: #282828
$colorTextSubtle: #818181

$colorContentBackground: #fafafa
$colorMenuBackground: #ffffff
$colorMenuBorder: #e0e0e0
$colorMenuItemHover: #707070
$colorMenuItemActive: #4c4c4c
$colorMenuItemInactive: #b5b5b5

$brandGitHubGrey: #333

$skeletonLoading: #333f4f

$themeDarkMainBg: #171C24
$themeDark: #222b36
$themeDarkLighter: #2a3543
$themeDarkBorder: rgba(145, 158, 171, 0.24)


@mixin box
  background-color: $themeDark
  box-sizing: border-box
  padding: 10px

@mixin borderBottom
  border-bottom: 1px solid $themeDarkBorder

@mixin borderRight
  border-right: 1px solid $themeDarkBorder

@mixin flexRowCentered
  display: flex
  flex-direction: row
  align-items: center

@mixin flexColumnCentered
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly

