@import "src/styles/shared"

.Main
  padding: 20px
  background-color: $themeDark
  border-radius: 10px
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
  width: 100%
  min-height: 40px
  color: #bebebe