@import "src/styles/shared"

.SideBar
  width: 200px
  background-color: $colorMain
  display: flex
  flex-direction: column
  border-right: 1px solid $colorMainAccent

  footer
    text-align: center
    flex: 0 0 auto
    height: 50px
  nav
    flex: 1 0 auto
    ul
      list-style: none
      margin: 0
      padding: 0

    > ul
      > li
        margin-top: 60px

        > header
          margin-left: 20px
          font-size: 12pt
          color: $colorHeadingSubtle
          margin-bottom: 10px

        > ul > li
          width: 100%
          a
            width: 100%
            height: 100%
            display: inline-block
            padding: 15px 10px
            text-decoration: none
            color: black

            &.active
              color: $colorMainAccent
            &:hover
              color: black
              background-color: $colorMainAccent

          .MenuIcon
            display: inline-block
            width: 50px
            padding-left: 10px
            padding-right: 30px
            text-align: center
