apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dyve.fullname" . }}-core
  labels:
{{ include "dyve.labels" . | indent 4 }}
data:
  config.yaml: |
  {{- if .Values.core.fullConfig}}
{{ .Values.core.fullConfig | toYaml | indent 4 }}
  {{else}}
{{ .Values.core.config | toYaml | indent 4 }}

    appProviders:
  {{- if .Values.providers.cloudfoundry.enabled }}
      - name: cf
        host: http://dyve-cloudfoundry
    {{end}}
  {{end}}