@import "src/styles/shared"

.Main
  color: white
  box-sizing: border-box
  padding: 60px
  width: 100%
  background-color: $themeDarkMainBg

.Parent
  text-transform: uppercase

.Title
  margin: 0

.Children
  margin-top: 80px

