@import "styles/shared"

.App
  display: flex
  flex-direction: column
  min-height: 100vh
  align-items: stretch

.Flex
  display: flex
  align-items: stretch
  flex-direction: row
  height: 100%
  flex: 1 0 auto

.SideBar
  flex: 0 0 auto

.Content
  flex: 1 1 auto
  padding: 50px

.Header
  flex: 0 1 auto
